# Ignore pycache files
examples/__pycache__/

# Ignore files to be deleted
examples/to_delete

## Ignore slurm outputs
slurm_output/*

## Ignore slurm scripts
*.script

## Ignore files outside
pouch.py
haplotag*